
.footer-container {
    background-color: var(--navbar-bg);
    color: var(--Normal-Text);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: auto;
  }

  .footer-text {
    font-size: 1.2rem;
  }
  
  